certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
pyaes==1.6.1
pyasn1==0.6.0
Pyrogram==2.0.106
PySocks==1.7.1
pyTelegramBotAPI==4.19.2
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
urllib3==2.2.2
